<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/search.css">
    <title>The Dwarf Library Main Page</title>
    <script src="js/searchButtonClick.js"></script>
</head>
<body>
    <header>
        <div>
            <h1 id="welcomeTitle">The Dwarf Library</h1>
        </div>
        <div class="head">
            <a href="index.html">Home</a>
            <a href="search">Search Database</a>
            <a href="featured.html">Featured</a> 
            <a href="about.html">About</a>
         </div>
    </header>
    <div class="mainText">
        <div style="height: 100px"></div>
        <div class ="mainTextHeader">
            <h1>Search through the library</h1>
        </div>
        <div style="height: 100px"></div> 
        <div class="search">
            <form method="POST" action="/search">
                <select name="searchPick" id="picked">
                    <option value="title">Title</option>
                    <option value="author">Author</option>
                    <option value="publisher">Publisher</option>
                    <option value="date">Date</option>
                  </select>
                <label for="searchBarTitle">Search for:</label>
                <br>
                <input id="searchBarTitle" type="text" class="searchBar" name="search">     
                <button id="searchButton" type="submit">Search</button>
            </form>
        </div>
        <div style="height: 100px"></div> 
        <div id="response"></div>
        <div style="height: 200px;background-color: rgba(0, 0, 0, 0);"></div>
    </div>

</body>
<footer>
    <p>2023 &#169; Jorge Garcia</p>
</footer>
</html>